*{
	margin:auto;
	padding:auto;
}	
body {
	background:#02010a;
	font-family: Dancing Script;
	margin-left: 7%;
	margin-right: 7%;
}
header {
	overflow:hidden;
	background-color: #5b7989;
	border-radius:10px 10px 10px 10px;
	

}

header .cabecera{

	color:white;
	text-align: left;
	text-shadow: 2px 2px #02010a;
	font-size: 20px;
	font-weight:bold;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height:50px;
	float:left;

}
header nav{
	text-align: right;
	line-height:50px;
	
	
}
header nav a{
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	
	
}
 .imagencentral{
	background-color: #82c3a6;
	height:auto;
	flex-direction: column;

	
}	
 .fotosdinamicas{
	background-color: #d5c75f;
	height:auto;
	flex-direction: column;
}	
.piedepagina{
	background-color: #C6d5c5;
	height:auto;
	flex-direction: column;
}	

img{
	border: 2px solid white;
	vertical-align:middle;
	display:block;
	}
#imagen1 img{
	width: auto; 
	height:25%;
	text-align:center;
	display:block;
	margin:auto;
	}
#imagen2 img{
	width: 40%; height:150px;
	float: left;
	margin-top:10px;
	margin-left:60px;
	transition-property: width;
	transition-duration: 1 s;
}
#imagen2 img:hover{
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
	 border: solid 2px black;
}

#imagen3 img{
	width: 40%; height:150px;
	float:right;
	margin-top:10px;
	margin-right:60px;

	
}
#imagen3 img:hover{
	
	transform: translate(20px,-5px);
	border: solid 2px black;
}
#imagenpar img{
	width: 25%; height:170px;
	float: left;
	margin-top:7px;
	margin-left:55px;
	margin-right:30px;
	transition-property: width;
	transition-duration: 1 s;
	filter:  grayscale(100%);
}


#imagenimpar1 img{
	width: 25%; height:170px;
	float: left;
	margin-top:7px;
	margin-left:55px;
	margin-right:30px;
filter: blur(10px);
	transition-property: width;
	transition-duration: 1 s;
}
#imagenimpar3 img{
	width: 25%; height:170px;
	float: left;
	margin-top:7px;
	margin-left:55px;
	margin-right:30px;
	
	filter: sepia(90%);

	transition-property: width;
	transition-duration: 1 s;
}
#imagenimpar5 img{
	width: 25%; height:170px;
	float: left;
	margin-top:7px;
	margin-left:55px;
	margin-right:30px;
	transition-property: width;
	transition-duration: 1 s;
}
#alineaizq{
	font-size: 18px;
	display:inline-block;
	padding:15px 260px;
}
h3{
	display:inline-block;
	padding:5px 70px;
}
p{
  float: left;
  width: 250px;
  margin-left:20px;
  margin-right:10px;
  padding:5px;
 
}


